<p-toast> </p-toast>
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <button (click)="onClickAddBtn()" pButton pRipple label="New" icon="pi pi-plus"
      class="p-button-success mr-2"></button>
  </ng-template>
  <ng-template pTemplate="right">
    <p-button mode="basic" label="Import" chooseLabel="Import" icon="pi pi-plus" (onClick)="importSidebarVisible=true" class="mr-2 inline-block"></p-button>
    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="exportSidebarVisible=true"></button>
  </ng-template>
</p-toolbar>

<p-table #dt [value]="employees" [rows]="10" [paginator]="true" [loading]="deleteLoading"
  [exportHeader]="'customExportHeader'" [globalFilterFields]="['name','email','phone','salary','department']"
  [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10, 25, 50]"
  [showCurrentPageReport]="true" [responsive]="true">
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h4 class="m-0">Employeey Manager</h4>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal( $any($event.target).value, 'contains')"
          placeholder="Search keyword" />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
      <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
      <th pSortableColumn="phone" style="min-width:10rem">Phone <p-sortIcon field="phone"></p-sortIcon></th>
      <th pSortableColumn="salary">Salary <p-sortIcon field="salary"></p-sortIcon></th>
      <th pSortableColumn="department" style="min-width:10rem">Department <p-sortIcon field="department"></p-sortIcon></th>

    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="name" placeholder="Search"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="email"placeholder="Search"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="phone"placeholder="Search"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="salary"placeholder="Search"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter field="department" matchMode="in" [showMenu]="false">
          <ng-template pTemplate="filter" let-value let-filter="filterCallback">
            <p-multiSelect [ngModel]="value" [options]="departments" placeholder="Any" (onChange)="filter($event.value)"
              optionLabel="name" optionValue="name" appendTo="body">
            </p-multiSelect>
          </ng-template>
        </p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.phone }}</td>
      <td>{{ employee.salary | currency: 'USD' }}</td>
      <td>{{employee.department}}</td>
      <td>
        <div class="flex flex-row">
          <button (click)="onClickUpdateBtn(employee)" pButton pRipple icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="confirmDelete(employee,$event)"></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- ADD | UPDATE => Dialog -->

<div class="card flex justify-content-center">
  <p-dialog header="{{selectedEmployee ? 'Update Employee' : 'Add Employee'}}" [(visible)]="showFormDialog"
    [style]="{ width: '50vw' }" [responsive]="true">
    <app-add-update-employee [selectedEmployee]="selectedEmployee" (onCancelDialog)="onCancelDialog()"
      (onEmployeeChanged)="onEmployeeChanged($event)">

    </app-add-update-employee>
  </p-dialog>
</div>


<!--sidebar-->
<p-sidebar [(visible)]="exportSidebarVisible" position="right">
  <h3>Choose Expot Mode</h3>
  <hr />
  <ul>
    <li>
      <h2>CSV</h2> <button type="button" pButton pRipple icon="pi pi-file" (click)="getCsvBlob()" class="mr-2"
        pTooltip="CSV" tooltipPosition="bottom"></button>
    </li>
    <li>
      <h2>Excel</h2> <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
        class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
    </li>
  </ul>
</p-sidebar>


<p-sidebar [(visible)]="importSidebarVisible" [fullScreen]="true">
  <app-import-employees></app-import-employees>
</p-sidebar>